name : staging release testing

on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Provide the release version'
        required: true
      tag:
        description: 'Provide the release tag'
        required: true


jobs:
  Testing_Releases:
    name: Testing Main Releases
    runs-on: self-hosted

    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
        with:
          ref: '${{ inputs.tag }}'

      - name: reading cotent
        run: |
          echo "============================================"
          cat release.txt
          echo "============================================"

      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Creating tags
        id: release-tag-output
        run: |
          TAG=${{ inputs.release }}
          echo "::set-output name=release-tag::$(echo $TAG)"
          git tag $TAG

      - name: Creating Releases
        id: release-tag-final
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
        with:
          tag_name: ${{ steps.release-tag-output.output.release-tag }}
          release_name: ${{ inputs.release }}

      - name: coping readme file to s3 bucket
        run : aws s3 cp README.md s3://github-actions-staging-testing
      - name: coping text file to s3 bucket
        run : aws s3 cp release.txt s3://github-actions-staging-testing
