name : deploy-staging

on:
  workflow_run:
    workflows: ["build-deploy-to-dev"]

    types:
      - completed
  workflow_dispatch:
    inputs:
      release:
        description: 'Provide the release version'
        required: true
      tag:
        description: 'Provide the release tag'
        required: true


jobs:
  Testing_Releases:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment: stage
    name: Testing Main Releases
    runs-on: self-hosted

    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
        with:
          ref: '${{ inputs.tag }}'
          fetch-depth: '0'
          token: '${{ secrets.API_TOKEN }}'

      - name: Creating tags
        id: release-tag-output
        run: |
          TAG=${{ inputs.release }}
          echo "release-tag=$TAG" >> $GITHUB_OUTPUT
          git tag $TAG
          git config user.name github-actions
          git config user.email github-actions@github.com
          git push --tags

      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Creating Releases
        id: release-tag-final
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
        with:
          tag_name: ${{ steps.release-tag-output.outputs.release-tag }}
          release_name: ${{ inputs.release }}

      - name: coping readme file to s3 bucket
        run : aws s3 cp README.md s3://github-actions-staging-testing
      - name: coping text file to s3 bucket
        run : aws s3 cp file* s3://github-actions-staging-testing
